
<ul>
  {{#each events as |item|}}
    <li>{{item.name}}</li>
    <li>location: {{item.venue.name}}</li>
    <li>{{safe-string item.description}}</li>
    <li>{{item.link}}</li>
  {{/each}}
</ul>

{{yield}}
